{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h3>Conheça nossos profissionais</h3>
    {% for profissional in object_list %}
        <div class="card mt-3 p-3">
            <div>
                <a href="{% url 'clinicareapi:profissional_detail_view' profissional.pk %}">
                    <h5 class="profissional-name">{{profissional.user_profissional.user_custom.get_full_name}}</h5>
                </a>
            </div>
            <hr>
            <div>
                {{profissional.especialidade}}
            </div>
            <div>
                {{profissional.conselho}}
                {{profissional.numero_conselho}}
            </div>
        </div>
    {% endfor %}
{% endblock content %}

