{% extends "base.html" %}

{% block title %}Perfil{% endblock title %}

{% block content %}
<div class="card mt-3 p-3">
    <div class="header-perfil">
        <div class="img-perfil">
            img
        </div>
        <div class="info-perfil">
            <h2>{{object.user_profissional.user_custom.get_full_name}}</h2>
            <h6>{{object.especialidade}}</h6>
            <p>O renomado Dr. Vinicius Coutinho é um cardiologista altamente especializado com um compromisso inabalável com a saúde cardiovascular. Reconhecido por suas habilidades em cardiologia clínica, realiza diagnósticos precisos e tratamentos personalizados. Sua experiência em cardiologia intervencionista destaca-se, proporcionando soluções inovadoras para obstruções nas artérias coronárias. O Dr. Coutinho também é conhecido pela dedicação à prevenção cardíaca, promovendo estilos de vida saudáveis e estratégias de reabilitação cardíaca para o bem-estar duradouro dos seus pacientes.</p>
        </div>
    </div>
    <hr>
    <h4>Áreas de Atução</h4>
    <div class="areas-perfil">
        <div class='card-atuacao'>
            <h6>Cardiologia Clínica Avançada:</h6>
            <p>Dr. Vinicius Coutinho destaca-se na cardiologia clínica, oferecendo diagnósticos precisos e tratamentos personalizados para uma variedade de condições cardíacas. Sua abordagem abrangente abarca desde a hipertensão até doenças cardíacas complexas.</p>
        </div>
        <div class='card-atuacao'>
            <h6>Cardiologia Clínica Avançada:</h6>
            <p>Dr. Vinicius Coutinho destaca-se na cardiologia clínica, oferecendo diagnósticos precisos </p>
        </div>
        <div class='card-atuacao'>
            <h6>Cardiologia Clínica Avançada:</h6>
            <p>Dr. Vinicius Coutinho destaca-se na cardiologia clínica, oferecendo diagnósticos precisos e tratamentos personalizados para uma variedade de condições cardíacas. Sua abordagem abrangente abarca desde a hipertensão até doenças cardíacas complexas.</p>
        </div>
        <div class='card-atuacao'>
            <h6>Cardiologia Clínica Avançada:</h6>
            <p>Dr. Vinicius Coutinho destaca-se na cardiologia clínica, oferecendo diagnósticos precisos e tratamentos personalizados para uma variedade de condições cardíacas.</p>
        </div>
    </div>
    <hr>
    <h4>Principais Locais de Atuação</h4>
    <div class="locais-perfil">
        {% for endereco in object.enderecos_atendimento.all %}
            <div class="card-local">
                <h6>{{endereco.rua}} N°{{endereco.numero}}</h6>
                <div>{{endereco.cidade}}-{{endereco.estado}}</div>
                <div><strong>Complemento:</strong> {{endereco.complemento}}</div>
            </div>
        {% endfor %}
    </div>
    <hr>
    <h4>Contato</h4>
    <div class="contato-perfil">
        <p>Entre em contato pelo whatsapp, redes sociais, e-mail ou agendamento.</p>
        <ul class="contato-info">
            <li>
                <p><strong>Whatsapp: {{object.user_profissional.telefone}}</strong></p>
            </li>
            <li>
                <p><strong>Instagram:</strong></p>
            </li>
            <li>
                <p><strong>Facebook:</strong></p>
            </li>
            <li>
                <p><strong>E-mail: {{object.user_profissional.user_custom.email}}</strong></p>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}