{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% for profissional in object_list %}
        <div class="card mt-3 p-3">
            <div>
                <h5 class="profissional-name">{{profissional.user_profissional.user_custom.get_full_name}}</h5>
                {{ profissional.user_profissional.cpf }}
            </div>
            <hr>
            <div>
                {{profissional.especialidade}}
            </div>
            <div>
                {{profissional.conselho}}
                {{profissional.numero_conselho}}
            </div>
        </div>
    {% endfor %}
{% endblock content %}

