{% extends "base.html" %}
{% load static %}

{% block title %}Alterar Dados{% endblock title %}

{% block content %}
<div class="card mt-3 p-3">
    <h5>Editar Dados {{request.user.get_full_name}}</h5>
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <div class="label-form">
                    {{form_user.first_name.label}}
                </div>
                {{form_user.first_name}}
            </div>
        </div>
    </form>
</div>
{% endblock content %}