{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<h3>Meu Dashboard</h3>
{% include "partials/messages.html" %}
<div class="card  mt-3 p-3">
    {% for consulta in consultas %}
        <div>
            <h6>Paciente: {{consulta.paciente}}</h6>
            <p>Data:{{consulta.data}}</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function(){
        setTimeout(function(){
            $('#flash-message').remove();
        },3000);
    })
</script>
{% endblock scripts %}