{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Endereço{% endblock title %}

{% block content %}
<div class="mt-3" style="width:800px; margin:auto;">
    {% include "partials/messages.html" %}
</div>
<div class="card mt-3 p-3" style="width:800px; margin:auto;">
    <div>
        <a href="{% url 'clinicareapi:profissional_update_view' request.user.user_custom.id_profissional %}">
            <i class="bi bi-arrow-return-left"></i>
            Voltar
        </a>
    </div>
    <div class="d-flex justify-content-between">
        <h5>Endereços de Atendimento - {{ request.user.get_full_name}} </h5>
        <a class="btn btn-primary col-md-2 float-right text-white"
        href="{% url 'clinicareapi:endereco_create' %}"
        >
            <i class="bi bi-file-plus"></i>
            Adicionar
        </a>
    </div>
    {% for endereco in object_list %}
        <div class="card-local-list">
           <div class="row">
            <div class="col-md-10">
                <h6>{{endereco.rua}} N°{{endereco.numero}}</h6>
                <div><strong>Bairro:</strong> {{endereco.bairro}}</div>
                <div><strong>Cidade-UF:</strong> {{endereco.cidade}}-{{endereco.estado}}</div>
                <div><strong>Complemento:</strong> {{endereco.complemento}}</div>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary btn-sm" title="Editar" 
                href="{% url 'clinicareapi:endereco_update' endereco.pk %}">
                   <i class="bi bi-pencil-square"></i>
                </a>
                <a class="btn btn-danger btn-sm mt-1" title="Excluir" 
                href="{% url 'clinicareapi:endereco_delete' endereco.pk %}">
                    <i class="bi bi-trash"></i>
                 </a>
            </div>
           </div>
        </div>
    {%empty%}
        <div>
            <p>Não tem endereços cadastrados, clique no botão Adiconar para cadastrar.</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}