{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Editar Endereço{% endblock title %}

{% block content %}
<div class="card mt-3 p-3" style="width:800px; margin:auto;">
    <h4>Editar Endereço de Atendimento - {{request.user.get_full_name}}</h4>
    <hr>
    <form class="form-prevent-multi-submits" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{form.rua|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.numero|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form.bairro|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.complemento|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form.cidade|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.estado|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{form.cep|as_crispy_field}}
            </div>
            <div class="col-md-2">
                {{form.pais|as_crispy_field}}
            </div>
        </div>
        <a class="btn btn-danger" 
        href="{% url "clinicareapi:endereco_list" %}">
        Cancelar
        </a>
        <button class="btn btn-round btn-success button-prevent-multi-submits" type="submit">
            Salvar
        </button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'clinicareapi/js/jquery.mask.min.js'%}"></script>
<script>
    $('#id_cep').mask('99.999-999');

    $(document).ready(function(){
        $('#id_cidade,#id_estado').css('text-transform','uppercase');
    });
</script>
{% endblock scripts %}